/* Reset */

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/battleground.jpg);
    background-position: center;
    background-size: cover;
}

/* index.html */

#choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    padding: 1.5rem 6rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(47, 47, 47);
    border-radius: 10px;
}
#choice label {
    margin: 1rem 0;
    font-weight: 600;
}
#difficulty {
    width: 100%;
}

#gridSize {
    width: 100%;
}

#playNow {
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}










/* game.html */

#info {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.418);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#info:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#menu {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.rbh {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.418);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.rbh:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#infoDiv {
    position: absolute;
    width: 60%;
    top: 1.5rem;
    left: 50%;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.418);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    transition: all 1s ease-out;
}

#infoDiv span {
    font-weight: bold;
}

.hide {
    transform: translateX(-50%) translateY(-200px);
}

.show {
    transform: translateX(-50%) translateY(0);
}

h1 {
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    text-shadow: 0px 0px 4px rgba(255,255,255,1);
}

#battleG {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
}

.case {
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid black;
    background: #d3d3d3;
    background: radial-gradient(ellipse farthest-corner at center center, #d3d3d3 0%, #a0a0a0 100%);
    background: -webkit-radial-gradient(ellipse farthest-corner at center center, #d3d3d3 0%, #a0a0a0 100%);
    background: -moz-radial-gradient(ellipse farthest-corner at center center, #d3d3d3 0%, #a0a0a0 100%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.uncovered {
    background: white;
    cursor: pointer;
}

.bombe {
    background: red;
}